body {
    font-family: 'Courier New', Courier, monospace;
    /* margin is used to remove the default margin */
    margin: 0;
    /* padding is used to remove the default padding */
    padding: 0;
    /* display is used to create a flex container 1D layout */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F5F5F5;
}

main {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    /* flex 1 is used to make the main content take up the remaining space */
    flex: 1;
    /* padding is used to create space around the content */
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* index.html */
.content-photo-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.content {
    flex: 1;
}

.photo {
    /* space next to text */
    margin-left: 0;
    /* max-width is used to prevent the image from being too large */
    max-width: 100%;
    /* height is set to auto to maintain the aspect ratio */
    height: auto;
    /* center the image */
    display: block;
    margin: 0 auto;
}

/* change the layout for larger screens */
@media (min-width: 768px) {
    .content-photo-wrapper {
        flex-direction: row;
    }
    
    .photo {
        margin-left: 20px;
    }
}

.photo img {
    border-radius: 10px;
}

.contact {
    display: flex;
    gap: 20px;
}

/* Slideshow */
.slideshow-container {
    position: relative;
    margin: auto;
    overflow: hidden;
    padding: 5px;
}

.slide { display: none; } /* Hidden by default */

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
    border-radius: 10px;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
    border-radius: 10px;
}

.prev:hover, .next:hover { 
    background-color: rgba(0,0,0,0.5); 
    color: white; 
    border-radius: 10px;
}

.dots-container {
    /* center the dots at middle of slideshow-container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    /* size of the dots */
    height: 12px;
    width: 12px;
    /* margin between  and between the dots */
    margin: 0 5px;
    /* border and shape of the dots */
    border: 2px solid #bbb;
    /* border-radius is used to make the dots circular */
    border-radius: 50%;
    /* display is used to make the dots inline-block */
    display: inline-block;
}

.dot.active { background-color: #717171; }

/* works.html */
.project-card-1, .project-card-2 {
    border: 1px solid #ddd;
    border-radius: 8px;
    /* overflow is used to hide the content that overflows the container */
    overflow: hidden;
    /* margin between project cards */
    margin-bottom: 2rem;
    display: flex;
    /* Stack header on top of body */
    flex-direction: column; 
    /* center  the article*/
    /* margin: auto; */
}

.card-header {
    font-weight: bold;
    font-size: 1.25rem;
    background: #f4f4f4;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.card-body {
    font-family: 'Roboto Mono', monospace;
    font-size: larger;
    display: grid;
    grid-template-columns: 2fr 1fr; /* 2/3 and 1/3 equal columns */
    gap: 1.5rem;
    padding: 1rem;
}

.card-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-right img {
    width: 100%;
    max-width: 80%;
    
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

/* Responsive adjustment: Stack columns on mobile */
@media (max-width: 1200px) {
    .card-body {
        grid-template-columns: 1fr;
    }
}

/* Smooth SVG Entrance */
.project-logo {
    width: 50px;
    animation: fadeIn 1.2s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* The Grid Gallery */
.project-grid {
    display: grid;
    /* Parameter: max numbers of elements per row (e.g., 4) */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* max-width: 300px; */
    gap: 10px;
    justify-content: center; /* Centers items in the row */
}

.grid-item img {
    padding: 10px;
    width: 100%;
    aspect-ratio: 1 / 1; /* Keeps them as consistent squares */
    object-fit: cover; /* Ensures images fill the grid item without distortion */
    /* object-fit: contain; */
}