body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F5F5F5;
}

header {
    background-color: #333;
    padding: 10px 20px;
    color: #F5F5F5;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #F5F5F5;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    border-radius: 10%;
}

nav a:hover {
    background-color: #575757;
}

main {
    display: flex;
    flex: 1;
    padding: 50px;
}

.content {
    flex: 1;
}

.photo {
    margin-left: 20px;
}

.contact {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.photo img {
    height: 200px;
    width: 160px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #F5F5F5;
    text-align: center;
    padding: 5px 0;
    font-size: 0.8em;
}